
.container-flex {
  width: 100%;
  display: flex;
}

.select-flag-container {
  position: relative;
  width: 3em;
  height: 1.25em;
}

.select-flag-container .select {
  width: 4em;
  height: 2em;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.flag-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.flag-container .flag-image {
  height: 1.25em;
  border: 0.05em solid #ccc;
}

.flag-container .select-arrow {
	margin-left: 0.35em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	opacity: 0.7;
	/* border-width: arrow_height arrow_width/2 0 arrow_width/2 */
	border-width: 0.35em 0.2em 0 0.2em;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
  color: rgb(106, 107, 107);
}
